
.item3 {
    transition: 0.3s; 
    transform: translate3d(0, -1px, 0); 
    transform: scale(1);
    display: flex; 
    flex-direction: column;
    margin: 0% 2% 0% 2%;
    color: #000;
    overflow: hidden;
}

.item3 img {
    transition: transform 0.5s; 
}

.item3:hover {
    text-decoration: none;
}

.item3:hover img{
    transform: scale(1.05); 
    text-decoration: none;
}

.item3:hover h4{
    text-decoration: none;
    color: #19b4fa;
}

.item3:hover p {
    text-decoration: none;
    color: #000;
}

.item3 img {
    width: 120%;
    height: 30vh;
}

.item_body {
    padding: 25px; 
} 

.item_title {
    font-size: 24px; 
    margin-bottom: 5px; 
    font-weight: bold; 
    color: #232323; 
} 

.item_description {
    color: #585858;
}

.item {
    position: relative; 
}

.search_projet {
    border: 2px solid #ecf0f1; 
    padding: 10px;
    transition: 0.3s;
}

.search_projet:hover, .search_projet:focus {
    border: 2px solid #19b4fa; 
}
