.card:hover{
    cursor: pointer;
}
.card:hover .card-descrip h3 {
    color: #19b4fa; 
}

.card .card-descrip p {
    color: #000; 
}

.card:hover .card-descrip p {
    color: #000; 
}

.card_background_img {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
    transform: scale(1); 
    transition: 0.3s ease-in; 
}

.card:hover .card_background_img {
    transform: scale(1.1);
}

.card-descrip {
    height: 10vh; 
 
} 

.card_avatar {
    position: absolute;
    top: -8vh;
    left: 15px;
    color: #fff; 
    width: 100%; 
    transform: scale(1.2); 
}
